/*Спецификация*/

body, html {
    height: 100%;
    margin: 0;
    font-family: Cambria sans-serif;
}

/*Home*/

.background-image{
    background-image: url('images/blurredImg.jpg');
    height: 100%;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    color: gold;
    font-size: 40px;
text-align: center;
    padding-top: 30px;

}

.moto{
    color: crimson;
    font-size: 35px;
    /*transform: translate(-50%,-50%);*/
}

.buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.light-theme .background{
    background-color: #e6e0c3;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dark-theme .background{
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: Cambria sans-serif;
    font-size: 20px;
    color: #30251e;
}

.all{

}

.validationError{
    color:red;
    font-size: 17px;
}




.buttonA{
    display: inline-block;
/*margin-left: auto;*/
/*margin-top: 200px;*/
position: absolute;
    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);
}



.buttonB{
    display: inline-block;
    position: absolute;
    top: 65%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.logout{
    position: absolute;
    top: 5%;
    right: 5%;
}

.login{
    position: absolute;
    top: 5%;
    right: 5%;
}

.theme-button{
    position: absolute;
    top: 10%;
    right: 5%;
}


/*div.ingredient-group:nth-child(odd) {*/
/*    float: left;*/
/*    padding-right: 20px;*/
/*}*/

/*div.ingredient-group:nth-child(even) {*/
/*    float: left;*/
/*    padding-right: 0;*/
/*}*/

/*div.ingredient-group {*/
/*    width: 50%;*/
/*}*/

/*.grid:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/**, *:after, *:before {*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/

/*span.validationError {*/
/*    color: red;*/
/*}*/