/*Спецификация*/

body, html {
    height: 100%;
    margin: 0;
    font-family: Cambria sans-serif;
    background-color: #F2EDD0;
    font-size: 20px;
}


/*Home*/

.background-image {
    background-image: url('images/blurredImg.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    color: gold;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;

}

.moto {
    color: crimson;
    font-size: 35px;
    /*transform: translate(-50%,-50%);*/
}

.home-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-buttons li {
    display: inline-block;
}

.simpleButton {
    margin: 10px;
    background-color: #260101;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    border: none;
    transition-duration: 0.4s;
    color: #D9D4BA;
    text-align: center;
    font-size: 16px;

}

.simpleButton:hover {
    background-color: #D9D4BA;
    color: #260101;
}

.smallButton {
    margin: 10px;
    background-color: #260101;
    padding: 5px;
    width: 80px;
    border-radius: 4px;
    border: none;
    transition-duration: 0.4s;
    color: #D9D4BA;
    text-align: center;
    font-size: 14px;

}

.smallButton:hover {
    background-color: #D9D4BA;
    color: #260101;
}

.text {
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: Cambria sans-serif;
    font-size: 20px;
    color: #260101;
}

.all {

}

.validationError {
    color: red;
    font-size: 17px;
}

.side-buttons{
    margin: 10px;
    text-align: right;
}

.side-buttons li{
    display: block;
    margin: 10px;
}

.login-out {
    position: absolute;
    top: 5%;
    right: 5%;
}

.theme-button {

}


/*body .light-theme {
    background-color: #F2EDD0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body .dark-theme {
    background-color: #59514F;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*.theme-button {*/
/*    position: absolute;*/
/*    top: 10%;*/
/*    right: 5%;*/
/*}*/


/*div.ingredient-group:nth-child(odd) {*/
/*    float: left;*/
/*    padding-right: 20px;*/
/*}*/

/*div.ingredient-group:nth-child(even) {*/
/*    float: left;*/
/*    padding-right: 0;*/
/*}*/

/*div.ingredient-group {*/
/*    width: 50%;*/
/*}*/

/*.grid:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/**, *:after, *:before {*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/

/*span.validationError {*/
/*    color: red;*/
/*}*/