<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <title>Registration</title>
</head>
<body>
<div class="background"></div>
<div class="text">
    Finally, Registration is here

    <form method="POST" th:action="@{/register}" id="registerForm">
        <label for="username">Username: </label>
        <input type="text" name="username"/><br/>
        <label for="password">Password: </label>
        <input type="password" name="password"/><br/>
        <label for="confirm">Confirm password: </label>
        <input type="password" name="confirm"/><br/>
        <label for="fullname">Full name: </label>
        <input type="text" name="fullname"/><br/>
        <label for="moto">Moto: </label>
        <input type="text" name="moto"/><br/>

        <br><br>
            <input type="submit" value="Register"/>

    </form>

</div>
</body>
</html>